<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor Sign Up</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <section class="login">
        <div class="login-row">
            <div class="login-col-1">
                <img src="/images/mphfund.jpg" alt="invest">
            </div>
            <div class="login-col-2">
                <form action="/vendor/<%=user._id %>" method="POST"> 
                    <input type="text" name="username" value="<%= user.username %>"  id="" placeholder="Update Username" required>
                    <input type="email" name="email" value="<%= user.email %>"  id="" placeholder="Update Email" required>
                    <input type="tel" name="phone" value="<%= user.phone %>"  id="" placeholder="Update Phone Number" required>
                    <button type="submit">Update Information</button>
                </form>
                <a href="/profile">Back To admin home</a>
            </div>
        </div>
    </section>

    <footer>
        <p>mphunds 2021</p>
    </footer>

</body>
</html>