<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <div class="container-fluid">

        <!--Header-->
        <section class="bar">

        </section>

        <nav>
            <div class="container">
                <div class="nav-container">
                    <div class="btn">
                        <div class="navbar"></div>
                        <div class="navbar"></div>
                        <div class="navbar"></div>
                    </div>
                </div>
                <ul class="navul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/plan">Plans</a></li>
                    <li><a href="/coupon">Coupon Vendors</a></li>
                    <li><a href="/gen-income">How we generate our income</a></li>
                    <li><a href="/withdraw">Withdraw</a></li>
                    <li><a href="/tos">Tos</a></li>
                    <li><a href="/signup">Registration</a></li>
                    <li><a href="/login">Sign in</a></li>
                </ul>
            </div>
        </nav>


        <section class="logo">
            <h1>Mphunds</h1>
            <h5>INVEST IN YOUR FUTURE</h5>
        </section>

        <section class="coupon">
            <div class="container">
                <h1>Coupon Vendors</h1>
                <ol>
                    <% for(var i=0; i < vendors.length; i++){ %>
                        <li><span><%= vendors[i].username %> - </span><a href="https://api.whatsapp.com/send?phone=234<%= vendors[i].phone %>&text=Hello%20I%20am%20interested%20in%20Buying%20a%20Coupon%20For%20the%20Mphunds%20Investment">Message <%= vendors[i].username %> on whatsapp to get a coupon code</li>
                    <% } %>
                </ol>
            </div>
        </section>

        <footer>
            <p>mphunds 2021</p>
        </footer>

    </div>

    <script src="js/script.js"></script>
    <script src="js/all.js"></script>

</body>
</html>