<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mphunds</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <div class="container-fluid">


        <!--Header-->
        <section class="bar">

        </section>

            <nav>
                <div class="container">
                    <div class="nav-container">
                        <div class="btn">
                            <div class="navbar"></div>
                            <div class="navbar"></div>
                            <div class="navbar"></div>
                        </div>
                    </div>
                    <ul class="navul">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/plan">Plans</a></li>
                        <li><a href="/coupon">Coupon Vendors</a></li>
                        <li><a href="/gen-income">How we generate our income</a></li>
                        <li><a href="/tos">Tos</a></li>
                        <li><a href="/signup">Register</a></li>
                        <li><a href="/login">Login in</a></li>
                    </ul>
                </div>
            </nav>

        <section class="logo">
            <h1>Mphunds</h1>
            <h5>INVEST IN YOUR FUTURE</h5>
        </section>

        <!--banner-->

        <section class="banner">
            <img src="/images/mphunds.jpg" alt="">
        </section>

        <div class="container">

            <section class="hplan">
                <h2>Relax, let your money work for you</h2>
                <h6>Create a plan that allows you invest automatically and whenever you feel like. Decide how much you want to invest weekly or monthly and we’ll handle the rest for you with just a few clicks.
                </h6>
                <div class="hpgroup">
                    <div class="hplancontainer hplanshad1">
                        <img src="images/mph.png" alt="">
                        <h3>Goal Based Investment</h3>
                        <p>Setup a scheduled plan to automate your investments towards your financial goal</p>
                    </div>
                    <div class="hplancontainer">
                        <img src="images/mph.png" alt="">
                        <h3>Group Goals</h3>
                        <p>Go further together with group goals, invest with your squad, partner or community</p>
                    </div>
                    <div class="hplancontainer hplanshad2">
                        <img src="images/mph.png" alt="">
                        <h3>One-time Investment</h3>
                        <p>If you’re not into Direct Debit, put your money to work with a lump sum one-time investment.</p>
                    </div>
                </div>
            </section>

            <section class="hinvest">
                <div class="higroup">
                    <div class="higp1">
                        <h3>Why Invest with MPHUNDS</h3>
                        <ul>
                            <li>Better returns</li>
                            <li>Track your interest daily</li>
                            <li>Tax-free interest/Dividends</li>
                            <li>Invest towards several goals in one place</li>
                            <li>Safe, secure and quick access to your money</li>
                            <li>Experienced investment fund managers</li>
                        </ul>
                    </div>
                    <div class="higp2">
                        <img src="images/mphmoney.jpg" alt="" srcset="">
                    </div>
                </div>
            </section>

        </div>

        <section class="step">
               <div class="container">
                   <h2>Investing as easy as 1,2,3</h2>
                   <h6>Get started with a MPHUNDS Investor account and start Investing with as little as ₦12,000</h6>
                   <button>CREATE AN ACCOUNT</button>

                   <div class="stepgroup">
                       <div class="stepgp1">
                           <img src="images/mphstart.jpg" alt="" srcset="">
                       </div>
                       <div class="stepgp2">
                           <h3>Steps to create your account</h3>
                           <p>STEP 1:Setup your Profile and verify your Identity in a few easy steps</p>
                           <hr /><hr />
                           <p>STEP 2: Setup an Investment plan and Funding options</p>
                       </div>
                   </div>
               </div> 
        </section>

        <footer>
            <p>mphunds 2021</p>
        </footer>

    </div>


    <script src="js/script.js"></script>
    <script src="js/all.js"></script>

</body>
</html>