<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor Sign Up</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <section class="login">
        <div class="login-row">
            <div class="login-col-1">
                <img src="/images/mphfund.jpg" alt="invest">
            </div>
            <div class="login-col-2">
                <%- include("./partials/messages") %>
                <form action="/pass-change/<%= user %>" method="POST"> 
                    <input type="password" name="password" id="" placeholder="Enter New Password" required>
                    <input type="password" name="confirmPassword" id="" placeholder="Confirm New Password" required>
                    <button type="submit">Change Password</button>
                </form>
                <a href="/Back To Login">Back To admin home</a>
            </div>
        </div>
    </section>

    <footer>
        <p>mphunds 2021</p>
    </footer>

</body>
</html>