<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <div class="container-fluid">

        <!--Header-->
        <section class="bar">

        </section>

        <div class="container">
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/plan">Plans</a></li>
                    <li><a href="/coupon">Coupon Vendors</a></li>
                    <li><a href="/gen-income">How we generate our income</a></li>
                    <li><a href="/withdraw">Withdraw</a></li>
                    <li><a href="/tos">Tos</a></li>
                    <li><a href="/signin">Registration</a></li>
                    <li><a href="/login">Sign in</a></li>
                </ul>
            </nav>
        </div>

        <section class="logo">
            <h1>Mphunds</h1>
            <h5>INVEST IN YOUR FUTURE</h5>
        </section>

        <div class="container">
            <section class="plans">
            
                <div class="plans-row">
                    <div class="plans-col black">
                        <h3>PRO PLANS</h3>
                        <h5>MONTHLY</h5>
                        <ul>
                            <li>PREMIUM PLAN - 192,000naira____ROI = 297,600naira</li>
                            <li>PLANTINIUM PLAN - 384,000naira____ROI = 595,000naira</li>
                            <li>SILVER PLAN - 768,000naira____ROI = 1,190,400naira</li>
                            <li>GOLD PLAN - 1,536,000naira____ROI = 2,280,800</li>
                        </ul>
                        <Button>PURCHASE</Button>
                    </div>
                    <div class="plans-col white">
                        <h3>BASIC PLANS</h3>
                        <h5>MONTHLY</h5>
                        <ul>
                            <li>COPPER PLAN - 12,000naira____ROI = 19,200naira</li>
                            <li>VIOLET PLAN - 24,000naira____ROI = 38,400naira</li>
                            <li>STANDARD PLAN - 48,000naira____ROI = 76,800naira</li>
                            <li>BRONZE PLAN - 96,000naira____ROI = 153,600</li>
                        </ul>
                        <Button>PURCHASE</Button>
                    </div>
                </div>

            </section>
        </div>

        <footer>
            <p>mphunds 2021</p>
        </footer>

    </div>

</body>

<script src="js/script.js"></script>
</html>