<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <section class="login">
        <%- include ("./partials/messages") %>
        <div class="login-row">
            <div class="login-col-1">
                <img src="images/mphfund.jpg" alt="invest">
            </div>
            <div class="login-col-2">
                <form action="/signup" method="POST">
                    <input type="text" name="firstname" id="" placeholder="First Name">
                    <input type="text" name="lastname" id="" placeholder="Last Name"> 
                    <input type="text" name="username"  id="" placeholder="Username">
                    <input type="email" name="email" id="" placeholder="Email">
                    <input type="text" name="referral" placeholder="Referral Code">
                    <input type="password" name="password" id="" placeholder="Password">
                    <input type="password" name="confimPassowrd" id="" placeholder="Confirm Password">
                    <button type="submit">Register</button>
                </form>
                <a href="/login">Log in</a>
            </div>
        </div>
    </section>

    <footer>
        <p>mphunds 2021</p>
    </footer>

</body>
</html>