<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <!--Header-->
    <section class="bar">

    </section>

    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/plan">Plans</a></li>
                <li><a href="/coupon">Coupon Vendors</a></li>
                <li><a href="/gen-income">How we generate our income</a></li>
                <li><a href="/withdraw">Withdraw</a></li>
                <li><a href="/tos">Tos</a></li>
                <li><a href="/signin">Registration</a></li>
                <li><a href="/login">Sign in</a></li>
            </ul>
        </nav>
    </div>

    <section class="logo">
        <h1>Mphunds</h1>
        <h5>INVEST IN YOUR FUTURE</h5>
    </section>

    <div class="container-fluid">
        <div class="toscon1">
            <div class="toscon2">
                <div class="container">
                    <h3>Terms of Service</h3>
                </div>
                <div class="toscon3">
                    <div class="toscontainer">
                        <h5>TERMS AND CONDITIONS FOR THE USE OF THE MPHUNDS INVESTOR PLATFORM</h5>
                    <p class="top">You must agree to these Terms and Conditions before accessing the ARM Payday Investor Platform by checking the “I Accept” box at the end of this page. This action will be deemed an equivalent of your handwritten signature of acceptance and shall govern your activation, access, and usage of any of the Services (as hereinafter defined).</p>
                    <h5>INTRODUCTION</h5>
                    <h5>Welcome to the MPHUNDS Investor Platform (hereinafter referred to as the “Platform”)</h5>
                    <p>A. Through the Platform, you will be able to invest and create and manage your customized goal and utilize redemption funds when you have invested enough to achieve your goals. the Platform only after you have agreed to the Terms and Conditions stated below. Please read these Terms and Conditions carefully before proceeding with the use of the Platform. By using the Platform, you agree unequivocally to the Terms and Conditions contained herein</p>
                    <p>B. These Terms & Conditions are subject to amendment, modification or substitution by the Company at any time. Your continued use of the Company’s services and the Platform after any such amendment, modification or substitution shall signify your acceptance of any new terms and conditions. It is recommended that you regularly check for any updates or amendments to these Terms & Conditions.</p>
                    <h5>1. PROTECTION OF CONFIDENTIAL USER DETAILS</h5>
                    <p>1.1. You have set up a User Identification number (“User ID”) and unique password in order to access the Platform. They act as your signature and it is your sole responsibility to ensure that your User ID and password, are kept confidential and used only by you. For your security, you are advised to create and maintain a strong password. You agree that the security of your account, your personal identification information, User ID, and password is solely your own responsibility and ARM IM shall not be responsible for any unauthorized use of this information. You further agree that if you believe that your account password has been compromised in any way, or you become aware of any loss or theft of, or any unauthorized use of, your User ID or password, or transaction on your account, you will notify ARM IM immediately via email to [hello@paydayinvestor.ng] or [07002255276]. You must not use any other person’s User ID and password to access our website. We may disable your account on the website at any time at our sole discretion without notice or explanation. Disabling your account does not affect your investment and is for your protection to prevent online access to your account for the duration required to resolve any outstanding issues.</p>
                    <p>1.2. If you fail to protect your User ID and password, you may allow unauthorized persons to: (a) use the Platform through your profile, (b) correct, change, verify, or send data using the Platform, (c) send information to, or receive information from ARM IM or its affiliates, or (d) access your electronic information or communications and financial data. You acknowledge that protecting your User ID and password is very important to limit the above risks. ARM IM is not and will not
                        be responsible for security breaches as a result of your failure to secure your online account, User ID and/or password. This also applies to access of PayDay Investor with the fingerprint feature by 3rd party individuals whose fingerprint details have been saved on the mobile device that has the Payday Investor app installed.</p>
                    <p>1.3. You shall be fully responsible for any misuse or compromise to your account of which ARM IM is not properly notified. If any security violations are believed to have occurred in association with your account at any time, you hereby authorise ARM IM to suspend all access to your account pending an investigation and resolution. You also agree that ARM IM has the right to cooperate in any government, legal or other investigation regarding any aspect of the Services or your use of the Platform.</p>
                    <p>1.4. The right to use the Platform shall not in any way be assigned or transferred, without the express written consent of ARM IM.</p>
                    <h5>2. USE OF THE PLATFORM</h5>
                    <P>2.1. Access to the Platform is at your own risk and you shall be solely responsible for any damage to your property, including but not limited to loss of data or computer virus infection, caused as a result of your use of the Platform or any material downloaded from it.</P>
                    <P>2.2. You agree that your use of the Platform shall be as provided in: (a) these Terms and Conditions, (b) the rules, procedures, standards, requirements, and policies made applicable to the services available on the Platform from time to time (the “Services”), (c) any instructions, terms, or conditions appearing on the screen on relevant pages of the Platform whenever you use any of the Services, and (d) any state and federal laws and regulations applicable to the Services.</P>
                    <P>2.3. The Platform enables you to invest towards the fulfilment of a set goal. However, you may review the details of your goal at any time on the platform. You hereby acknowledge that any such changes are subject to the terms set by in this document.</P>
                    <P>2.4. All information on or available through the Platform is protected by intellectual property law. Unless otherwise stated in writing, neither you nor any third party has permission to copy, display, distribute, republish, or create derivative works from such information in any form.</P>
                    <h5>3. PRODUCT GOAL</h5>
                    <p>3.1. The Platform shall also enable you to manage your investments and utilize redemption funds for the purchase of household or capital goods (the “Products”) from third-party vendors (the “Merchants”). The Platform includes details of products of various Merchants from which you may select your desired Product(s). Upon confirmation of your intention to proceed with a purchase, ARM IM will introduce you to the relevant Merchant, following which you may proceed with the
                        purchase of your desired Product, subject to the terms agreed by and between you and the Merchant.</p>
                        <p>3.2. Upon enrolment on the Platform, you shall indicate the Product(s) which you intend to purchase with your redemption funds and an estimation of the time of the proposed purchase (the “Goal Period”). The Merchant shall automatically be notified of such selection. Upon confirmation of your intention to proceed with a purchase, ARM IM shall introduce you to the relevant Merchant, following which you may proceed with the purchase of your desired Product, subject to the terms agreed by and between you and the Merchant. ARM IM expressly disclaims any responsibility for the Merchant’s website content and liability that may result therefrom. All third-party content is provided on an “as-is” basis, and your use of any third-party content, including those of the Merchant, is at your sole risk.</p>
                     <p>3.3. You may purchase your desired Product anytime within, or after the expiration of the Goal Period. You hereby acknowledge that Product availability, and/or prices available on PayDay Investor Platform or the Merchants’ websites are neither fixed, nor guaranteed during any particular period.</p>   
                     <p>3.4. You hereby authorise ARM IM to transfer to the Merchant, such portion of the redemption funds as may be required for the purchase of the Products, upon receipt of your written instruction to make payment for the Product(s).</p>
                     <h5>4. DIRECT DEBITS</h5>
                     <p>4.1. Upon your enrolment on the Platform, you will be required to provide your account information complete a Direct Debit Mandate form, by which you will arrange how much you intend to invest in the Fund on a periodic basis (weekly or monthly) and when such investment will be made. With the direct debit, your Banker automatically deducts a specified amount from your bank account and credits same to your PayDay Investor Account.</p>
                     <p>4.2. Direct debits shall only be applied to investments in the Fund and shall, on no account, be applicable to payment for products purchased on Merchants’ websites.</p>
                     <h5>5. PERMISSIONS AND LIABILITY FOR LOSS</h5>
                     <p>5.5. Notwithstanding any provision of these Terms and Conditions to the contrary, under no circumstances shall ARM IM be liable directly or indirectly for any loss of profit, business, or production, or any special, punitive, or consequential damages that result in any way from your use of or inability to use the Platform or your or any third parties’ reliance on or use of information, or services provided on or through the Platform or that result from interruptions, delays in operation or transmission or any failure of performance in connection with the Platform, whether ARM IM or any affiliate knew or should have known the likelihood of such damages in any circumstance. If you are dissatisfied with the Platform or any of these Terms and Conditions, or other rules, policies, guidelines, or regulations applicable to use of the Platform, your sole and exclusive remedy is to discontinue using the Platform.</p>
                     <h5>6. KNOW-YOUR-CUSTOMER REQUIREMENTS</h5>
                     <p>As part of the process for your enrolment on the Platform, you will be requested by ARM IM to provide certain information and documentation which will enable ARM IM to know you better and monitor your account. Until all requested information and documents are provided, your ability to operate your account will be restricted; including making additional investments, and redemption of funds – either for the purchase of your desired Product, or for any other use.
                        As long as any part of the required information/documentation remains outstanding, you will receive on a periodic basis, automated reminders of the outstanding information and documentation.</p>
                     <p>11.1. ARM IM reserves the right to change, refuse or discontinue any part of the Services to you, at its sole discretion. ARM IM may deny you access to all or part of the Platform without notice if you engage in any conduct or activities that ARM IM in its sole discretion believes violates any of these Terms and Conditions, or any relevant law, rule or policy for the time being in force. ARM IM shall have no responsibility for the consequences of such discontinuance or lack of notification. You agree that ARM IM has the right to monitor use of the Platform from time to time and to disclose any information as necessary to satisfy any applicable law or regulation or to protect itself.</p>
                     <p>11.2. Where ARM IM changes, refuses or discontinues any part of the Services to you, you must not take any action to circumvent such change or refusal or discontinuance (including without limitation creating and/or using a different account).</p>
                     <h5> 12. SEVERANCE AND SURVIVAL</h5>   
                     <p>12.1. If any Term or Condition or part of any Term or Condition herein is found by any court or administrative body of competent jurisdiction to be invalid, unenforceable or illegal, the other provisions shall remain in force. If any invalid, unenforceable or illegal provision is deleted, the provision shall apply with whatever modification is necessary to give effect to the commercial intention of ARM IM in providing the Service.</p>
                     <p>12.2. All provisions of the Terms and Conditions which by their nature should survive discontinuance of any part of the Services shall survive such discontinuance, including, without limitation, ownership provisions, warranty or other disclaimers, indemnity and limitation of liability.</p>
                     <h5>13. LEGAL CAPACITY</h5>
                     <p>By accepting these Terms and Conditions, you represent to us that you have the legal capacity to be bound and enter into an agreement. If you are below the age of 18, you will require the assistance of your parents or legal guardian. If you are not sure as to whether you have the required legal capacity, kindly contact our customer care centre on 08029940668 or send us an email at mphunds@gmail.com</p>
                     <p>14. YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS
                        By using this Platform, you are stating and acknowledging that you have read the aforementioned Terms and Conditions and that you understand these Terms and Conditions and agree to be bound by them.</p> 
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>mphunds 2021</p>
        </footer>
    </div>

</body>
</html>