<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <section class="login">
        <div class="login-row">
            <div class="login-col-1">
                <img src="images/mphfund.jpg" alt="invest">
            </div>
            <div class="login-col-2">
                <h2>Mphfunds</h2>
                <form action="">
                    <input type="text" name="password" id="" placeholder="Password">
                    <input type="password" name="passowrd" id="" placeholder="Password">
                    <button type="submit">Login</button>
                    <div class="checkbox">
                        <input type="checkbox" name="fpassword" id=""> <p>Forgot Password</p>
                    </div>
                </form>
                <a href="signup.html">Register</a>
            </div>
        </div>
    </section>

    <footer>
        <p>mphunds 2021</p>
    </footer>

</body>
</html>